<section>
    <div id="DelightMeterContainer" ng-init="initVal=85">

        <!--custom tag to invoke the delight meter-->
        <delight-meter ng-model="delightScore"></delight-meter>
        
        <!--input to change the delight score value for testing-->
<!--         <div id="scoreReader">
        How Delighted are you?<br />
            0<input id="txtScore" type="range" min="0" max="100" ng-model="delightScore" placeholder="enter the delight score" />100
        </div>
 -->    </div>   
</section>

