<section class="row">
    <section class="panelz panelz--withTabs">
        <div class="scrollable scrollable--vertical">
            <div class="content padded">

            	<h2 class="mainTitle">About Manulife</h2>

                <div class="grid">
                    <section class="span6">
                        
                        
<a href="#">
    <div class="featureVideo">
        <img class="featureVideoBg" src="../images/background/image-bg-video.png" alt="" />
        <div class="featureVideoShaded">
            <span class="featureVideoIcon imageIcon imageIconLoadVideo"></span>
            <span class="feature"><em class="imageIcon imageIconStar"></em>Featured</span>
            <span>Manulife Corporate Video</span>
            <span class="note">30MB | MOV</span>
        </div>
    </div>
</a>

                        <ul class="bulletList">
    						<li>Manulife’s vision in Asia is to help our customers fulfill their dreams and aspirations.</li>
    						<li>Our mission is simple – we want to deliver an extraordinary customer experience.</li>
    						<li>Our strategy is based on 3 global themes.</li>
                        </ul>
                        <div class="aboutManulife">
                            <p><strong>1. Build long-lasting customer relationships</strong></p>
                            <p>Our 118-year heritage in Asia gives us a strong understanding of the 11 markets we operate in. We have one of the longest histories of continuous operation in the region of any international insurer.</p>
                            <p>This experience allows us to adopt unique approaches to help all our customers and put them at the centre of everything we do. </p>
                            <p><strong>2. Build our integrated wealth and asset management capabilities</strong></p>
                            <p>We have integrated wealth and asset management capabilities that few insurance companies in Asia have.</p>
                            <p>This enables us to provide a tailored and wide-range of financial solutions to meet our customers’ protection, wealth and retirement needs.</p>
                            <p><strong>3. Leverage our global capabilities</strong></p>
                            <p>Manulife is a leading Canada-based financial services organization with principal operations in Asia, Canada and the United States.</p>
                            <p>With market-leading positions across all regions, we can draw on our expertise from our markets to roll out ideas, solutions and capabilities to help our customers around the world.</p>
                        </div>
                    </section>
                    <section class="span6">           
                            
                            
<a href="#">
    <div class="videoItem shaded row">
        <div class="video">
            <div>
                <span class="imageIcon imageIconPDFWhite"></span>
                <div class="overlayContainer"></div>
            </div>
        </div>
        <div class="content">
            <p>Manulife Hong Kong</p>
            <p class="note left">3MB | PDF</p>
            
        </div>
    </div>
</a>

                            
                            
<a href="#">
    <div class="videoItem shaded row">
        <div class="video">
            <div>
                <span class="imageIcon imageIconPDFWhite"></span>
                <div class="overlayContainer"></div>
            </div>
        </div>
        <div class="content">
            <p>Our Agents</p>
            <p class="note left">3MB | PDF</p>
            
        </div>
    </div>
</a>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>
