<section class="row">
    <section class="panelz panelz--withTabs text">
        <div class="content padded">

        	<h2 class="mainTitle">About Me</h2>

            <div class="grid">
                <section class="span8">

					<section class="agentProfile">     
						<div class="profileImage"><img src="../images/content/settings-profile.png" alt="settings" width="108" height="108"></div>      
						<div class="profileInfo">
							<header>
								<h2>Patrick Lam 林一峰</h2>
							</header>
							<div>理財策劃顧問</div>
							<div>Insurance Agent Registration Number: 12344321</div>
							<div>MPF Individual Intermediary - Registration Number: 23455432</div>
							<div>SFC Central Number: 012344321</div>
						</div>
					</section>

					<section>
						<h3>About Me</h3>
						<p>A seasoned financial consultant with more than 10 years experience in financial planning.</p>
					</section>

					<section>
						<h3>Academic Title(s)</h3>
						<p>Bachelor of Business Administration - University of Hong Kong</p>
					</section>

                </section>
                <section class="span4">

                	<!-- TO-DO: How I work component -->
                	<section class="infoBox">
                		<div class="infoBox__title">
                			<h3>How I work</h3>
                		</div>
                		<div class="infoBox__content">
		                    <ul class="bulletList">
								<li>I am passionate about helping my clients confidently meet their financial dreams and goals.</li>
								<li>At Manulife, we know the first step in doing so is to develop a personalized plan tailored to you.</li>
								<li>We then draw on our 115+ year heritage to provide experienced guidance and find the right solutions to fulfill all your financial needs.</li>
		                    </ul>
                		</div>
                	</section>

					<section>
						<h3>Honors and Awards</h3>
						<div class="badges">
							<div class="badge blue"><span style="display:block;margin-top:24px;">Agent<br />of the year<br />2015</span></div>
							<div class="badge orange"><span style="display:block;margin-top:17px;"><br />Agent<br />of the Month<br />05/2015</span></div>
						</div>
					</section>

                </section>
            </div>
        </div>
    </section>
</section>
