<section class="row">
	<section class="panelz">
		<div class="scrollable scrollable--vertical">
			<div class="content padded">

				<div class="editButton editButton--viewDetailMode"><span class="imageIcon imageIconEdit"></span></div>
				<h2 class="mainTitle">About Insured</h2>
				<section class="viewDetailBlock viewDetailBlock--firstBlock">
					<div class="viewDetailBlock__content">
						<div class="grid">
							<section class="span12">

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Name</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">Chan Tai Man</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Gender</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">Male</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Date of birth</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">15 May 1985</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Occupation</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">General</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Smoker</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">No</span>
									</div>
								</div>


							</section>
							<section class="span0">           
							</section>
						</div>
					</div>
				</section>
				<section class="viewDetailBlock">
					<h2 class="mainTitle"  style="margin-top:20px;">My Choice <a href="#" class="mainTitle__extraInfo">About this product</a></h2>
				</section>
				<section class="viewDetailBlock viewDetailBlock--firstBlock">
					<div class="viewDetailBlock__header viewDetailBlock__header--withInfo">
						<h3 class="viewDetailBlock__title">Base plan</h3>
						<span class="viewDetailBlock__info"><a href="simple-illustration-detail.html" class="button positiveButton" style="text-decoration: none;">Illustration</a></span>
					</div>
					<div class="viewDetailBlock__content">
						<div class="grid">
							<section class="span12">

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Face amount</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">HK$ 9,787,200</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Payment period</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">30 years</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Annual premium</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">HK$ 208,858.85</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Monthly premium</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">HK$ 18,791.42</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Guaranteed income</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">HK$ 40,780 / month</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Estimated total income</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">HK$ 84,591 / month</span>
									</div>
								</div>

								<div class="valuePairBlock">
									<div class="valuePairBlock__leftBlock">
										<span class="valuePairBlock__description">Guaranteed income period</span>
									</div>
									<div class="valuePairBlock__rightBlock">
										<span class="valuePairBlock__value">20 years</span>
									</div>
								</div>

							</section>
							<section class="span0">           
							</section>
						</div>
					</div>
				</section>

				<section class="viewDetailBlock">
					<div class="viewDetailBlock__header">
						<h3 class="viewDetailBlock__title">Riders</h3>
					</div>
					<div class="viewDetailBlock__content">
						<p>No rider attached.</p>
					</div>
				</section>

			</div>
		</div>
	</section>
</section>
