<div class="calendarContent">
    <ul class="scheduleList arrowLinkList">
        <li class="past">
            <a href="#">
                <p class="eventTime"><span class="startTime">9:00AM</span><span class="duration">-</span><span class="endTime">10:30AM</span></p>
                <p>
                    Meeting with Kevin Chung
                    <span class="note">Appointment</span>
                </p>
            </a>
        </li>
        <li class="current">
            <a href="#">
                <p class="eventTime"><span class="startTime bold">3:30PM</span><span class="duration">-</span><span class="endTime">4:30PM</span></p>
                <p>
                    Collect document for Jeremy
                    <span class="note">Note</span>
                </p>
            </a>
        </li>
    </ul>
</div>