<section class="panelz wide" style="height: 480px;">
	<div class="content padded">

		<div class="scrollable scrollable--vertical scrollable--withFooter">

			<div class="placeholderImage"><img src="../images/placeholder/apply-confirmation.jpg" alt="" /></div>

		</div>
		
		<div class="panelFooter panelFooter--twoButtons">
			<span class="buttonLeft">
				<!--
				<button type="button" class="button negativeButton" myclick="closeOverlay()">Cancel</button>
				-->
			</span>
			<span class="buttonRight">
				<button type="button" class="button positiveButton" myclick="goToPage('customer-dashboard-policy-issued.html')">Customer Home</button>
			</span>
		</div>

	</div>
</section>
