<section class="panelz thin" style="height: 300px;">
	<div class="content padded">

		<div class="scrollable scrollable--vertical scrollable--withFooter">

			<div class="placeholderImage"><img src="../images/placeholder/before-application-creation.jpg" alt="" /></div>

		</div>
		
		<div class="panelFooter panelFooter--twoButtons">
			<span class="buttonLeft">
				<button type="button" class="button negativeButton" myclick="closeOverlay()">Cancel</button>
			</span>
			<span class="buttonRight">
				<button type="button" class="button positiveButton" myclick="goToPage('application-overview.html')">Submit</button>
			</span>
		</div>

	</div>
</section>
