<section class="panelz wide" style="width: 900px; height: 400px;">
	<div class="content padded">

		<div class="scrollable scrollable--vertical scrollable--withFooter">

			<div class="placeholderImage"><img src="../images/placeholder/create-customer-profile.jpg" alt="" /></div>
<!--    		
			<div class="textBlock">
				<div class="row">
					<label for="scenario">Save your scenario as</label>
					<input name="scenario" id="scenario" type="text" value="Scenario 1">
				</div>
			</div>
	
			<div class="textBlock textBlock--withSeparator">
				<h2>Create your profile</h2>
				<p>By submitting the below information, you agree to allow Manulife to store your personal data.</p>
			</div>

			<div class="textBlock textBlock--withSeparator">
				<div class="row">
					<label for="surname"><strong>Surname</strong></label>
					<input name="surname" id="surname" type="text" value="Chan">
				</div>
				<div class="row">
					<label for="givenName"><strong>Given name</strong></label>
					<input name="givenName" id="givenName" type="text" value="Tai Man">
				</div>
				<div class="row">
					<label for="genderMale"><strong>Gender</strong></label>
					<div class="toggle">
						<input type="radio" id="genderMale" name="genderRadio" value="male" checked="checked">
						<label for="genderMale">Male</label>
						<input type="radio" id="genderFemale" name="genderRadio" value="female">
						<label for="genderFemale">Female</label>
					</div>
				</div>
				<div class="row">
					<label for="dateOfBirth"><strong>Date of birth</strong></label>
					<input name="dateOfBirth" id="dateOfBirth" type="text" value="15 - May - 1985">
				</div>
			</div>
-->

		</div>
		
		<div class="panelFooter panelFooter--twoButtons">
			<span class="buttonLeft">
				<button type="button" class="button negativeButton" myclick="closeOverlay()">Cancel</button>
			</span>
			<span class="buttonRight">
				<button type="button" class="button positiveButton" myclick="goToPage('proposed-product-recommendations.html')">Submit</button>
			</span>
		</div>

	</div>
</section>
