<nav class="mnu-01-01 " id="pageMenu">
	<div class="menuContainer">
		<div class="panelUser">
			<span class="imageIcon imageIconUser"  style="background-image:url(../images/content/placeholder-menu-agent.jpg);" ></span>
			<p>Patrick Lam</p>
		</div>
		<ul class="menuList">
			<li>
				<a href="/agent-dashboard">
					<span class="imageIcon imageIconHome"></span>
					<p>Home</p>
					<span class="imageIcon imageIconLock"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="imageIcon imageIconCustomers"></span>
					<p>Customer List</p>
					<span class="imageIcon imageIconLock"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="imageIcon imageIconTools"></span>
					<p>All Tools</p>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="imageIcon imageIconResources"></span>
					<p>Resources</p>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="imageIcon imageIconSolutions"></span>
					<p>Solutions</p>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="imageIcon imageIconProposals"></span>
					<p>Proposals</p>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="imageIcon imageIconApplication"></span>
					<p>eApplication</p>
				</a>
			</li>
		</ul>
		
		<div class="menuOption">
			<ul>
				<li><a href="#"><span class="imageIcon imageIconSupport"></span><span class="title">Support</span></a></li>
				<li><a href="#"><span class="imageIcon imageIconSettings"></span><span class="title">Settings</span></a></li>
			</ul>
		</div>
		
		<div class="panelAction">
			<button type="button" class="button logoutButton"><span class="imageIcon imageIconLogout"></span><p>LOGOUT</p></button>
		</div>
	</div>
</nav>
