<section class="agentDashboardNav jsAgentDashboardNav">
    <nav class="agentMenu agentDashboardNav__list">
        <ul class="agentDashboardNav__primaryList">
            <li class="agentDashboardNav__listItem jsAgentDashboardResetTrigger"><a href="#"><span class="imageIcon imageIconHome"></span><span class="title">Home</span></a></li>
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="customers"><a href="#"><span class="imageIcon imageIconCustomers"></span><span class="title">Customer List</span></a></li>
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="solutions"><a href="#"><span class="imageIcon imageIconSolutions"></span><span class="title">Solutions</span></a></li>
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="plans"><a href="#"><span class="imageIcon imageIconProposals"></span><span class="title">Plans</span></a></li>
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="applications"><a href="#"><span class="imageIcon imageIconApplication"></span><span class="title">Applications</span></a></li>
        </ul>
        <ul class="agentDashboardNav__secondaryList">
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="resources"><a href="#"><span class="imageIcon imageIconResources"></span><span class="title">Resources</span></a></li>
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="tools"><a href="#"><span class="imageIcon imageIconTools"></span><span class="title">Tools</span></a></li>
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="support"><a href="#"><span class="imageIcon imageIconSupport"></span><span class="title">Support</span></a></li>
            <li class="agentDashboardNav__listItem jsAgentDashboardTrigger" data-target-item="settings"><a href="#"><span class="imageIcon imageIconSettings"></span><span class="title">Settings</span></a></li>
        </ul>
    </nav>

    <aside class="agentDashboardNav__menu jsAgentDashboardNavMenu">
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="customers">
            
            <section class="menuSearch">
                <form name="searchCustomer" action="" method="post">
                    <input type="text" name="searchCustomerInput" placeholder="Search customers" />
                </form>
            </section>

            <section class="menuSection">
                <h3 class="menuSection__title">Quick links</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="#">
                            <span class="mainText">View all customers</span>
                        </a>
                    </li>
                    <li>
                        <a href="holistic-financial-planning.html">
                            <span class="mainText">Start introduction</span>
                        </a>
                    </li>
                </ul>
            </section>

            <section class="menuSection">
                <h3 class="menuSection__title">Bookmarked</h3>
                <ul class="menuSection__list menuSection__list--withIcon">
                    <li>
                        <a href="#">
                            <span class="icon icon--agent" style="background-image:url(../images/content/placeholder-dashboard-menu-agent.png);"></span>
                            <span class="mainText">James Chan</span>
                            <span class="note">Last viewed 11 Nov 2015</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon--agent" style="background-image:url(../images/content/placeholder-dashboard-menu-agent.png);"></span>
                            <span class="mainText">Peter Chung</span>
                            <span class="note">Last viewed 11 Nov 2015</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon--agent" style="background-image:url(../images/content/placeholder-dashboard-menu-agent.png);"></span>
                            <span class="mainText">Alan Pang</span>
                            <span class="note">Last viewed 11 Nov 2015</span>
                        </a>
                    </li>
                </ul>
            </section>


        </section>
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="solutions">
            
            <section class="menuSection">
                <h3 class="menuSection__title">Solutions</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="plans">

            <section class="menuSection">
                <h3 class="menuSection__title">Plans</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="applications">

            <section class="menuSection">
                <h3 class="menuSection__title">Applications</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="resources">

            <section class="menuSection">
                <h3 class="menuSection__title">Resources</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="tools">

            <section class="menuSection">
                <h3 class="menuSection__title">Tools</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="../oldApp/Calc/pages/emotional-fact-finding.html">
                            <span class="mainText">Emotional Calculator</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="support">

            <section class="menuSection">
                <h3 class="menuSection__title">Support</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
        <section class="agentDashboardNav__menuItem jsAgentDashboardNavMenuItem" data-respond-item="settings">

            <section class="menuSection">
                <h3 class="menuSection__title">Settings</h3>
                <ul class="menuSection__list">
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="mainText">Some link</span>
                        </a>
                    </li>
                </ul>
            </section>

        </section>
    </aside>
</section>

<script type="text/javascript">
$(function(){

    function initAgentDashboardNav() {

        var classSelected = 'selected',
            classOpen = 'is-open',
            classItemSelected = 'itemSelected',
            classPageMenuOpen = 'pageMenuOpen',
            $body = $('body');
            $nav = $('.jsAgentDashboardNav'),
            $triggers = $('.jsAgentDashboardTrigger', $nav),
            $resetTrigger = $('.jsAgentDashboardResetTrigger', $nav),
            $menu = $('.jsAgentDashboardNavMenu'),
            $menuItem = $('.jsAgentDashboardNavMenuItem', $nav),
            targetItem = '';

        // added agent dashboad to body
        $body.addClass('agentDashboard');

        $triggers.click(function(e){            
            e.preventDefault();

            var $this = $(this);

            if($this.hasClass(classSelected)){
                resetNav();
            } else {
                // retrieve target item
                targetItem = $this.data('targetItem');

                $triggers.removeClass(classSelected);
                $this.addClass(classSelected);

                $menuItem.removeClass(classItemSelected);
                $menuItem
                .filter(function(index){
                    return $(this).data('respondItem') == targetItem;
                })
                .addClass(classItemSelected);

                // check if the menu is closed
                if(!$nav.hasClass(classOpen)){
                    $nav.addClass(classOpen);
                }

                $body.addClass(classPageMenuOpen);              
            }

        });

        $resetTrigger.click(function(e){
            e.preventDefault();
            resetNav();
        });

        // reset the navigation to initial state
        function resetNav() {
            $triggers.removeClass(classSelected);
            $nav.removeClass(classOpen);
            $body.removeClass(classPageMenuOpen);
        }

    }
    initAgentDashboardNav();



});
</script>

