

<header class="pageHeader pageHeader--agentDashboard">

    <h1 class="pageTitle">
        <span class="subtitle">Patrick Lam</span>
        <span class="title">Agent View</span>
    </h1>
    
    <div class="headerControl">
        <ul>
            <li><button><span class="imageIcon imageIconFilterGreen"></span><span class="accessible">Filter</span></button></li>
            <li><button><span class="imageIcon imageIconSearchGreen"></span><span class="accessible">Search</span></button></li>
            <li><button><span class="imageIcon imageIconToolGreen"></span><span class="accessible">Tools</span></button></li>
        </ul>
    </div>
</header>


