
<header class="pageHeader pageHeader--customerDashboard">
	
	<div class="headerMenu">
		<button class="imageIcon hamburgerMenuBtn" type="button"></button>
	</div>
		
	<h1 class="pageTitle">
		<span class="subtitle"> </span>
		<span class="title"></span>
	</h1>
	
	<div class="headerControl">
		<ul>
			<li><button><span class="imageIcon imageIconFilter"></span><span class="accessible">Filter</span></button></li>
			<li><button><span class="imageIcon imageIconSearch"></span><span class="accessible">Search</span></button></li>
			<li><button><span class="imageIcon imageIconTool"></span><span class="accessible">Tools</span></button></li>
		</ul>
	</div>
</header>


