<section class="panelz thin" style="height: 410px; width: 600px;">
	<div class="content">
		<div class="indexOverlayContent">
			<ul>
				<li><a href="#" myclick="goToPage('login.html')">Login</a></li>
				<li><a href="#" myclick="goToPage('agent-dashboard.html')">Agent Dashboard</a></li>
				<li><a href="#" myclick="goToPage('holistic-financial-planning.html')">Holistic Financial Planning</a></li>
				<li><a href="#" myclick="goToPage('quantity-goals.html')">Quantity Goals</a></li>
				<li><a href="#" myclick="goToPage('collect-asset-info.html')">Collect Asset Info</li>
				<li><a href="#" myclick="goToPage('shortfall-and-projections-timeline.html')">Holistic Planning / Shortfall and Projections (Timeline View)</a></li>
				<li><a href="#" myclick="goToPage('shortfall-and-projections-barchart.html')">Holistic Planning / Shortfall and Projections (Bar Chart View)</a></li>
				<li><a href="#" myclick="goToPage('proposed-product-recommendations.html')">Recommended Plans</a></li>
				<li><a href="#" myclick="goToPage('simple-illustration-detail.html')">Illustration</a></li>
				<li><a href="#" myclick="goToPage('proposal-details.html')">Proposal Details</a></li>
				<li><a href="#" myclick="goToPage('application-overview.html')">Application Overview</a></li>
			</ul>
			<ul>
				<li><a href="#" myclick="goToPage('personal-information.html')">Personal Information (pre-populated)</a></li>
				<li><a href="#" myclick="goToPage('edisclosure-basic-info.html')">eDisclosure (Basic info)</a></li>
				<li><a href="#" myclick="goToPage('edisclosure-family-history.html')">eDisclosure (Family History)</a></li>
				<li><a href="#" myclick="goToPage('edisclosure-personal-medical-history.html')">eDisclosure (Personal Medical History)</a></li>
				<li><a href="#" myclick="goToPage('apply-underwriting-result.html')">Apply / Underwriting Result</a></li>
				<li><a href="#" myclick="goToPage('apply-epayment.html')">Apply / ePayment</a></li>
				<li><a href="#" myclick="goToPage('apply-esignature.html')">Apply / eSignature</a></li>
				<li><a href="#" myclick="goToPage('customer-dashboard-policy-issued.html')">Customer Dashboard - Goal View (Policy Issued)</a></li>
				<li><a href="#" myclick="goToPage('customer-dashboard-annual-review.html')">Customer Dashboard - Goal View (Annual Review)</a></li>
				<li><a href="#" myclick="goToPage('projections-vs-actual-performance.html')">Projections vs. Actual Performance</a></li>
				<li><a href="#" myclick="goToPage('recommend-solutions.html')">Recommend Solutions</a></li>
				<li><a href="#" myclick="goToPage('../oldApp/Calc/pages/emotional-fact-finding.html')">Emotional Calculator</a></li>
			</ul>
		</div>
	</div>
</section>
