
<section class="ulg-01">
	<div class="logo sprite"></div>
    <div class="loginErrorMessage  invisible ">
        Invalid User ID or Password
    </div>
	<form action="#">
        <div class="usernameGroup">
            <label for="username" class="icon-user label-icon sprite">User ID</label>
            <input id="username" type="text" placeholder="User ID">
        </div>
		<div class="passwordGroup">
            <label for="password" class="icon-password label-icon sprite">Password</label>
            <input type="password" id="password" placeholder="Password">
		</div>
		<button class="login" type="button" myclick="goToPage('agent-dashboard.html');"><span class="icon-padlock sprite"></span>Login</button>
	</form>	
    <div class="forgot">
        <p><a href="http://www.manulife.com.hk/" class="url">Reset password</a></p>
    </div>
</section>