<section>
    <div class="grid">
        <div class="span12">

            <section class="panelz">
                <div class="scrollable scrollable--vertical" >
                    <div class="content padded content--useFullHeight">

                        <div class="productsBlock">

                            <article class="productItem">

                                <section class="productItem__banner" style="background-image:url('../images/background/background-my-choice.jpg');">
                                    <h2>My Choice</h2>
                                    <span class="imageIcon imageIconRetirement"></span>
                                </section>

                                <section class="productItem__content">

                                    <div class="valuePairBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">Face amount</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">HK$ 9,787,200</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">Payment period</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">30 years</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">Annual premium</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">HK$ 208,858.58</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock valuePairBlock--noBorder">
                                        <div class="valuePairBlock__fullBlock">
                                            <span class="valuePairBlock__description">Monthly income from age 60 to 80:</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock valuePairBlock--subBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">- Guaranteed income</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">HK$ 40,780</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock valuePairBlock--subBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">- Estimated income</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">HK$ 84,591</span>
                                        </div>
                                    </div>

                                </section>

                                <section class="productItem__footer">
                                    <button type="button" class="button positiveButton button--fullWidth" myclick="goToPage('proposal-details.html')">Details</button>                                   
                                </section>
                            </article>

                            <article class="productItem">

                                <section class="productItem__banner" style="background-image:url('../images/background/background-pep.jpg');">
                                    <h2>Premier Estate Protector 65</h2>
                                    <span class="imageIcon1 imageIconRetirement"></span>
                                    <span class="imageIcon2 imageIconWhiteHome"></span>
                                </section>

                                <section class="productItem__content">

                                    <div class="valuePairBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">Face amount</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">HK$ 15,000,000</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">Payment period</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">25 years</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">Annual premium</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">HK$ 243,500</span>
                                        </div>
                                    </div>

                                    <div class="valuePairBlock">
                                        <div class="valuePairBlock__leftBlock">
                                            <span class="valuePairBlock__description">Total Cash Value at age 60</span>
                                        </div>
                                        <div class="valuePairBlock__rightBlock">
                                            <span class="valuePairBlock__value">HK$ 12,372,397</span>
                                        </div>
                                    </div>

                                </section>

                                <section class="productItem__footer">
                                    <button type="button" class="button positiveButton button--fullWidth">Details</button>                                   
                                </section>
                            </article>

                            <div class="addMoreProduct">
                                <a href="recommend-solutions.html"><span class="imageIcon imageIconExpandGreen"></span></a>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</section>