

<section class="">
	<div class="languageDescription">
        <h1>Select Default Language</h1>
        <p class="supportingText">You can always change the language later in the setting section.</p>
	</div>
	<div class="languageDescription" lang="zh">
        <h1 lang="zh">請選擇您所使用的語言</h1>
        <p class="supportingText" lang="zh">您可以隨時在設定更改語言</p>
	</div>
	<div class="languageDescription" lang="zh">
        <h1 lang="zh">请选择您所使用的语言</h1>
        <p class="supportingText" lang="zh">您可以随时在设定更改语言</p>	
	</div>
	<div class="row languageSelection">
		<button class="button ">English</button>
        <button class="button " lang="zh">中文 (繁體)</button>
		<button class="button " lang="zh">中文 (简体)</button>
	</div>
</section>