<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>

<body>
    <div class="calc-page-wrap">
        <div class="calc-page-content">
            <div class="content-wrapper">
                <!--start content wrapper -->
                <div class="calc-page-title">
                    <p class="title">Page Title</p>
                    <i class="icons icon-attach"></i>
                </div>
                <div class="inner-content">
                </div>
                <!-- end content wrapper -->
            </div>
        </div>
        <div class="calc-page-graph graph-control clearfix">
        </div>
    </div>
</body>

</html>
