<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>
<body>
<div id="pageWrapper">
    <div id="app">
        <section class="panel themePanel themeNotification">
            <div class="panelTitle row">
                <h2>Notification</h2>
                <button><span class="imageIcon imageIconForeward"></span><span class="accessible">Go</span></button>
                <div> </div>
            </div>
            <div class="panelContent">
                <ul class="notificationList">
                    <li>
                        <a href="#">
                            <span class="imageIcon status unread"></span>
                            <p>New App Update Available</p>
                            <p class="note">Today</p>
                            <span class="imageIcon imageIconForewardArrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="imageIcon status"></span>
                            <p>New ManuTouch App</p>
                            <p class="note">Yesterday</p>
                            <span class="imageIcon imageIconForewardArrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="imageIcon status"></span>
                            <p>Alert! Manulife servers will be te&hellip;</p>
                            <p class="note">Yesterday</p>
                            <span class="imageIcon imageIconForewardArrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="imageIcon status"></span>
                            <p>Retirement Campaign Launch</p>
                            <p class="note">13 April 2014</p>
                            <span class="imageIcon imageIconForewardArrow"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
</body>
</html>
