<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>
<body>
<div id="pageWrapper">
    <div id="app">
        <section class="panel themePanel themeFocus">
            <div class="panelTitle row">
                <h2>Focus Retirement</h2>
                <button><span class="imageIcon imageIconForeward"></span><span class="accessible">Go</span></button>
            </div>
            <div class="panelContent">
                <div class="featureVideo" style="background-image:url(../images/background/image-bg-video.png)">
                    <a href="#">
                        <span class="imageIcon imageIconLoadVideo"></span>
                        <div class="content">
                            <p class="feature"><span class="imageIcon imageIconStar"></span> Featured</p>
                            <p>Plan for your Future - Retirement</p>
                            <p class="note">30MB | MOV</p>
                        </div>
                    </a>
                </div>
                <div class="videoItem row">
                    <div class="video">
                        <a href="#" style="background-image:url(../images/background/image-bg-sea.png)"><span class="imageIcon imageIconLoadVideo"></span></a>
                    </div>
                    <div class="content">
                        <p>Education Costs</p>
                        <p class="note">450MB | MOV</p>
                    </div>
                </div>
                <div class="videoItem row">
                    <div class="video">
                        <a href="#" style="background-image:url(../images/background/image-bg-sea.png)"><span class="imageIcon imageIconLoadVideo"></span></a>
                    </div>
                    <div class="content">
                        <p>Asset rates of return</p>
                        <p class="note">30MB | MOV<span class="tagUpdate">Update</span></p>
                    </div>
                </div>
                <div class="pdfItem row">
                    <div class="pdf">
                        <span class="imageIcon imageIconPDF"></span>
                    </div>
                    <div class="content">
                        <p>Introduction to lifestage &hellip;</p>
                        <p class="note">3MB | PDF</p>
                    </div>
                    <div class="action">
                        <button class="downloadButton"><span class="imageIcon imageIconDownload"></span><span class="accessible">Download</span></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>