<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>
<body>
<div id="pageWrapper">
    <div id="app">
        <section class="panel themePanel themeSchedule">
            <div class="panelTitle row">
                <h2>Schedule</h2>
                <button><span class="imageIcon imageIconForeward"></span><span class="accessible">Go</span></button>
            </div>
            <div class="panelContent">
                <div class="calendar">
                    <div class="controls" style="background-image:url(../images/content/placeholder-calendar.jpg); background-size:100% auto;">
                        <div class="content">
                            <button class="previous"><span>previous</span></button>
                            <span class="title">May 2014</span>
                            <button class="next"><span>next</span></button>
                        </div>
                    </div>
                    <div class="calendarTable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                    <td><span>1</span></td>
                                    <td><span>2</span></td>
                                    <td><span>3</span></td>
                                    <td><span>4</span></td>
                                    <td><span>5</span></td>
                                </tr>
                                <tr>
                                    <td><span>6</span></td>
                                    <td><span>7</span></td>
                                    <td><span>8</span></td>
                                    <td><span>9</span></td>
                                    <td><span>10</span></td>
                                    <td><span>11</span></td>
                                    <td><span>12</span></td>
                                </tr>
                                <tr>
                                    <td><span>13</span></td>
                                    <td><span>14</span></td>
                                    <td><span>15</span></td>
                                    <td><a href="#">16</a></td>
                                    <td><a href="#">17</a></td>
                                    <td><span>18</span></td>
                                    <td><span>19</span></td>
                                </tr>
                                <tr>
                                    <td><span>20</span></td>
                                    <td><a href="#">21</a></td>
                                    <td><span>22</span></td>
                                    <td><span>23</span></td>
                                    <td><span>24</span></td>
                                    <td><a href="#" class="today">25</a></td>
                                    <td><span>26</span></td>
                                </tr>
                                <tr>
                                    <td><span>27</span></td>
                                    <td><span>28</span></td>
                                    <td><span>29</span></td>
                                    <td><a href="#">30</a></td>
                                    <td><span>31</span></td>
                                    <td><span></span></td>
                                    <td><span></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="calendarContent">
                    <div class="scheduleItem">
                        <div class="schedulateDate row">
                            <h3>Saturday, 25 May 2014</h3>
                            <button><span class="imageIcon imageIconExpand"></span><span class="accessible">Expand</span></button>
                        </div>
                        <ul class="scheduleList">
                            <li class="allDay">
                                <a href="#">
                                    <p class="eventTime">All Day</p>
                                    <p>Kevin Chung's Birthday</p>
                                    <p class="note">Birthday Alert - All Day</p>
                                    <span class="imageIcon imageIconForewardArrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="eventTime"><span class="startTime">10:00AM</span><span class="duration">-</span><span class="endTime">10:30AM</span></p>
                                    <p>Meeting with Kevin Chung</p>
                                    <p class="note">Appointment</p>
                                    <span class="imageIcon imageIconForewardArrow"></span>
                                </a>
                            </li>
                            <li class="currentTime">
                                <a href="#">
                                    <p class="eventTime"><span class="startTime">11:30AM</span><span class="duration">-</span><span class="endTime">12:30AM</span></p>
                                    <p>Collect HKID copy for Jeremy</p>
                                    <p class="note">Note</p>
                                    <span class="imageIcon imageIconForewardArrow"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="eventTime"><span class="startTime">12:45PM</span><span class="duration">-</span><span class="endTime">1:30PM</span></p>
                                    <p>Call with Robert Lee</p>
                                    <p class="note">Appointment</p>
                                    <span class="imageIcon imageIconForewardArrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>