<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>
<body>
<div id="pageWrapper">
    <div id="app">
        <section class="panel themePanel themeCustomer">
            <div class="panelTitle row">
                <h2>Clients</h2>
                <button><span class="imageIcon imageIconForeward"></span><span class="accessible">Expand</span></button>
            </div>
            <div class="panelContent">
                <div class="searchBox" style="background-image:url(../images/background/image-bg-search.png)">
                    <div class="content">
                        <button class="imageIcon imageIconMagifyGlass"></button>
                        <input class="searchTextBox" type="text" placeholder="Search...">
                    </div>
                </div>
                <div class="tabContent">
                    <ul class="clientList">
                        <li>
                            <a href="#">
                                <span class="imageIcon imageIconNotExistingCustomer"></span>
                                <p>Peter Chung <span class="imageIcon imageIconCompleted"></span></p>
                                <p class="note">Last viewed 13 Apr 2014</p>
                                <span class="imageIcon imageIconForewardArrow"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="imageIcon imageIconExistingCustomer"></span>
                                <p>Catherine Teresa Wu</p>
                                <p class="note">Last viewed 13 Apr 2014</p>
                                <span class="imageIcon imageIconForewardArrow"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="imageIcon imageIconExistingCustomer"></span>
                                <p>Kevin Chung <span class="imageIcon imageIconCompleted"></span></p>
                                <p class="note">Last viewed 13 Apr 2014</p>
                                <span class="imageIcon imageIconForewardArrow"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="imageIcon imageIconExistingCustomer"></span>
                                <p>Robert Lee Wong</p>
                                <p class="note">Last viewed 13 Apr 2014</p>
                                <span class="imageIcon imageIconForewardArrow"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="imageIcon imageIconNotExistingCustomer"></span>
                                <p>Jeremy Li Ng <span class="imageIcon imageIconCompleted"></span></p>
                                <p class="note">Last viewed 13 Apr 2014</p>
                                <span class="imageIcon imageIconForewardArrow"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panelAction">
                <button type="button" class="button clearButton">CLEAR</button>
                <button type="button" class="button positiveButton">ALL</button>
            </div>
        </section>
    </div>
</div>
</body>
</html>
