<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <title>Header Component</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>

<body>
    <div id="pageWrapper">
        <div class="pageHeader" id="pageHeader" data-hw-module="app/modules/Header">
            <div class="header-wrapper">
                <div class="header-menu">
                    <span class="imageIcon hamburgerManulifeMenuBtn"></span>
                </div>
                <div class="hader-title">
                    <h1 class="title">Header Title</h1>
                </div>
                <div class="header-control">
                    <ul class="actions-list">
                        <li>
                            <span class="imageIcon imageIconTool"></span><span class="accessible">Tools</span>
                        </li>
                        <li>
                            <span class="imageIcon imageIconClose"></span><span class="accessible">Close</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="app"></div>
    </div>
</body>

</html>
