<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>

<body>
    <!-- <div class="investment-analysis"> -->
        <div class="calc-page-wrap investment-analysis">
            <div class="calc-page-content">
                <div class="content-wrapper">
                    <!--start content wrapper -->
                    <!-- <h3 class="page-title">Analysis</h3> -->
                    <div class="calc-page-title">
                        <p class="title">Analysis</p>
                    </div>
                    <div class="inner-content">
                        <div id="" class="accordians-control">
                            <ul class="accordians-header">
                                <li class="header">
                                    <p class="label-bold title">Cumulative Total Assets</p>
                                </li>
                                <li class="value">
                                    <p class="label-bold hk-value">HK$ 80,000</p>
                                </li>
                                <li><i class="expand-icon"></i>
                                </li>
                            </ul>
                            <div class="accordians-content">
                                <ul class="leaders">
                                    <li>
                                        <span>Savings and Investments (excluding property)</span>
                                        <span>HK$ 80,000</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="" class="accordians-control blue-color">
                            <ul class="accordians-header">
                                <li class="header">
                                    <p class="label-bold title">Target Amount After Inflation</p>
                                </li>
                                <li class="value">
                                    <p class="label-bold hk-value">HK$ 150,000</p>
                                </li>
                                <li><i class="expand-icon"></i>
                                </li>
                            </ul>
                            <div class="accordians-content">
                                <ul class="leaders">
                                    <li>
                                        <span>Current Monthly Income</span>
                                        <span>HK$ 20,000</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ideal-retirement">
                            <ul class="leaders">
                                <li>
                                    <span class="label-bold">Shortfall of Target Saving</span>
                                    <span class="label-bold highlight">HK$ 70,000</span>
                                </li>
                                <li>
                                    <span class="label-bold">Recommended Monthly Savings for Next 30 Years</span>
                                    <span class="label-bold highlight">HK$ 167</span>
                                </li>
                            </ul>
                        </div>
                        <div class="delay">
                            <div class="years-block">
                                <p class="question">What if you defer your saving plan?</p>
                            </div>
                            <div class="value-block">
                                <p class="question">Estimated Monthly Savings for next 30 year(s)</p>
                            </div>
                            <div class="years-block">
                                <ul id="increment-control" class="increment-control no-input" data-suffix="years">
                                    <li class="sub"><span class="increment-button"></span>
                                    </li>
                                    <li>
                                        <p class="value"></p>
                                        <input type="number" />
                                    </li>
                                    <li class="add"><span class="increment-button"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="value-block">
                                <p class="label-bold">HK$ 167</p>
                            </div>
                        </div>
                        <div class="half-line"></div>
                        <p class="note">The recommended savings total above is based on an assumed rate of return of 0% and is for reference only</p>
                    </div>
                    <!-- end content wrapper -->
                </div>
            </div>
            <div class="calc-page-graph with-action">
                    <div class="graph-control clearfix"></div>

                    <div class="slide-in-panel-wrapper" data-toggle-button=".action" data-toggle-class="show">
                        <div class="slide-in-panel">
                            <div class="action">
                                <span class="left-arrow-content"></span>
                            </div>
                            <div class="slide-in-content">
                                <div class="age">
                                    <label class="label-bold">Age</label>
                                    <div class="content-value">
                                        <input type="number" name="fname" class="textinput">
                                    </div>
                                </div>
                                <div class="target-retirement-age">
                                    <label class="label-bold">Target Retirement Age</label>
                                    <div class="content-value">
                                        <input type="number" name="fname" class="textinput" value="65">
                                    </div>
                                </div>
                                <div class="expected-year-retirement">
                                    <label class="label-bold">Expected Years of Retirement</label>
                                    <div class="content-value">
                                        <input type="number" name="fname" class="textinput">
                                    </div>
                                </div>
                                <div class="mpf-balance">
                                    <label class="label-bold">Existing MPF Balance (HK$)</label>
                                    <div class="content-value">
                                        <input type="number" name="fname" class="textinput">
                                    </div>
                                </div>
                                <div class="mpf-contribution">
                                    <label class="label-bold">Monthly MPF Contributions (HK$)</label>
                                    <div class="content-value">
                                        <input type="number" name="fname" class="textinput">
                                    </div>
                                </div>
                                <div class="current-assets">
                                    <label class="label-bold">Current Assets (HK$) (Excluding property)</label>
                                    <div class="content-value">
                                        <input type="number" name="fname" class="textinput">
                                    </div>
                                </div>
                                <div class="pre-retirement">
                                    <label class="label-bold">Assumed Annual Rate of Return (%) (pre-retirement)</label>
                                    <ul class="increment-control">
                                        <li class="sub"><span class="increment-button"></span></li>
                                        <li>
                                            <p class="value"></p>
                                            <input type="number"/>
                                        </li>
                                        <li class="add"><span class="increment-button"></span></li>
                                    </ul>
                                </div>
                                <div class="post-retirement">
                                    <label class="label-bold">Assumed Annual Rate of Return (%) (post-retirement)</label>
                                    <ul class="increment-control">
                                        <li class="sub"><span class="increment-button"></span></li>
                                        <li>
                                            <p class="value"></p>
                                            <input type="number"/>
                                        </li>
                                        <li class="add"><span class="increment-button"></span></li>
                                    </ul>
                                </div>
                                <div class="rate-inflation">
                                    <label class="label-bold">Assumed Annual Rate of Inflation (%)</label>
                                    <ul class="increment-control">
                                        <li class="sub"><span class="increment-button"></span></li>
                                        <li>
                                            <p class="value"></p>
                                            <input type="number"/>
                                        </li>
                                        <li class="add"><span class="increment-button"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <!-- </div> -->
    <script src="../script/jquery.js"></script>
    <script src="../script/plugin/fastclick.js"></script>
    <script src="../script/pos/NumberInput.js"></script>
    <script src="../script/pos/SwipePanel.js"></script>
    <script src="../script/pos/Accordians.js"></script>
    <script src="../script/pos/Graph.js"></script>
    <script src="../script/pos/IncrementControl.js"></script>
    <script src="../script/pos/SlideInControl.js"></script>
    <script src="../script/InvestmentAnalysis.js"></script>
    <script>
    /*global FastClick, page*/
    FastClick.attach(document.body);
    var retirementUser = new page.InvestmentAnalysis(".investment-analysis", {});
    </script>

</body>

</html>
