<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
</head>

<body>
    <div class="calc-page-wrap investment-user-info">
        <!-- start left panl -->
        <div class="calc-page-content">
            <div class="content-wrapper">
                <div class="calc-page-title">
                    <p class="title">Your Investment</p>
                </div>
                <!-- start content view -->
                <div class="inner-content">
                    <div class="age-info">
                        <div class="new-slider-component range">
                            <div class="header">
                                <div class="content left">
                                    <span class="title">Current Age</span>
                                    <input type="number" name="fname" class="textinput">
                                </div>
                                <div class="content left center">
                                    <span class="title">Target Age</span>
                                    <input type="number" name="fname" class="textinput">
                                </div>
                                <div class="content right saving-period">
                                    <span class="title">Saving Period (yr)</span>
                                    <input type="number" name="" value="28" disabled class="saving-period-input">
                                </div>
                            </div>
                            <div class="slider-container"></div>
                        </div>
                    </div>
                    <div class="saving-investment">
                        <label class="label-bold slider-title">Savings and Investments (excluding property) (HK$)</label>
                        <div class="new-slider-component single">
                            <div class="slider-container"></div>
                            <div class="content">
                                <input type="number" name="fname" class="textinput">
                            </div>
                        </div>
                    </div>
                    <div class="target-amount">
                        <label class="label-bold slider-title">Target Amount (HK$)</label>
                        <div class="new-slider-component single">
                            <div class="slider-container"></div>
                            <div class="content">
                                <input type="number" name="fname" class="textinput">
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <!-- start rate container -->
                    <div class="rate-container">
                        <div class="variable">
                            <div class="annual-rate rate-return clearfix">
                                <div class="title slider-title">
                                    <label class="label-bold">Assumed Annual Rate of Return (%)</label>
                                    <i class="icon icon-info" title="Tooltip"></i>
                                </div>
                                <div class="incerement-container">
                                    <ul id="increment-control" class="increment-control">
                                        <li class="sub"><span class="increment-button"></span></li>
                                        <li>
                                            <p class="value"></p>
                                            <input type="number"/>
                                        </li>
                                        <li class="add"><span class="increment-button"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="annual-rate rate-inflation clearfix">
                                <div class="title slider-title">
                                    <label class="label-bold">Assumed Annual Rate of Inflation (%) </label>
                                    <i class="icon icon-info" title="Tooltip"></i>
                                </div>
                                <div class="incerement-container">
                                    <ul class="increment-control">
                                        <li class="sub"><span class="increment-button"></span></li>
                                        <li>
                                            <p class="value"></p>
                                            <input type="number"/>
                                        </li>
                                        <li class="add"><span class="increment-button"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end rate container -->
                </div>
                <!-- end content view -->
            </div>
        </div>
        <!-- end left panl -->
        <div class="calc-page-graph"><div class="graph-control clearfix"></div></div>
    </div>
    <script src="../script/jquery.js"></script>
    <script src="../script/plugin/fastclick.js"></script>
    <script src="../script/pos/NumberInput.js"></script>
    <script src="../script/plugin/jquery.tooltip.js"></script>
    <script src="../script/pos/tooltip/Tooltip.js"></script>
    <script src="../script/pos/range/jquery.nouislider.js"></script>
    <script src="../script/pos/range/NewRangeSlider.js"></script>
    <script src="../script/pos/range/NewSlider.js"></script>
    <script src="../script/pos/RadioGroup.js"></script>
    <script src="../script/pos/IncrementControl.js"></script>
    <script src="../script/pos/Graph.js"></script>

    <script src="../script/InvestmentUserInfo.js"></script>
    <script>
    /*global FastClick, page*/
    FastClick.attach(document.body);
    var investmentUserInfo = new page.InvestmentUserInfo(".investment-user-info", {});
    </script>
</body>

</html>
