<!DOCTYPE html>
<html lang="en">

<head>
		<title>Manulife Pos Technical</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../style/default.css">
</head>

<body>
	<div class="right-panel-know-you">
		<div class="title">
			<p>GETTING TO<br> KNOW YOU</p>
			<div class="page-selector">
			</div>
		</div>
		<div class="dot-container">
		</div>
		<div class="line"></div>
		<div class="content">
			<div class="object-container">
			</div>
			<div class="graph-container">
				<div class="graph-title">
					<p>YOU MAY HAVE THE<br> FOLLOWING NEEDS</p>
				</div>
				<span class="graph"></span>
			</div>
		</div>
	</div>

	<script src="../script/jquery.js"></script>
	<script src="../script/pages/getting_to_know_you/RightPanelKnowYou.js"></script>
	<script>
		var rightPanel = new pos.RightPanelKnowYou(".right-panel-know-you", {});
	</script>
</body>

</html>
