<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../style/default.css">
    <link rel="stylesheet" type="text/css" href="../style/compgal.css">
</head>

<body>
	<div class="risk-profile">
	    <h3 class="title">Risk Profile Questionaire Summary</h3>
	    <div class="question-board">
	        <div class="number">3</div>
	        <div class="right-question-board">
	            <h2>Your Risk Profile Category is: 3 (Medium)</h2>
	            <p>You can accept a balanced investment portfolio with capital growth potential and medium to high risk exposure and price fluctuation.</p>
	        </div>
	    </div>
    </div>
</body>

</html>
