<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <title>Manulife Pos Technical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" type="text/css" href="../style/default.css">
	<link rel="stylesheet" type="text/css" href="../style/compgal.css">
	<style>
		.swiper-slide {
			/*width: auto !important;*/
			/*margin-left: 20px;*/
		}
		.swiper-container {
			/*width: 300px;*/
			/*margin: 0 auto;*/
			box-shadow: 1px 1px 5px green;
			width: 660px;
		  	height: 110px;
		  	color: #fff;
		  	text-align: center;
		}
		.swiper-slide {
		  height: 100%;
		  /*width: 75px;*/
		}
		.inner {
			padding: 0 10px;
		}
		.title {
			color: #000;
		}
	</style>
</head>
<body>
	<!-- <div class="user-dependents"> -->
		<!-- <div class="left-container"> -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
					<div class="swiper-slide characters-list">
						<div class="inner">
						<div class="character-icon icon-woman"></div>
						<p class="title">Occupation</p>
						</div>
					</div>
				</div>
			</div>
		<!-- </div> -->
	<!-- </div> -->
	<script src="../script/jquery.js"></script>
    <script src="../script/plugin/idangerous.swiper.scrollbar.js"></script>
	<script>
	$(document).ready(function() {
		$('.swiper-container').swiper({
            //Your options here:
        	slidesPerView: 'auto',
        	loop: false
        });
       })
	</script>
</body>

</html>