<section class="panelz blue normal ">
    

    <header class="row">
        <h2>Opportunities</h2>
        
        <button class="imageIcon imageIconForward"><span class="accessible"></span></button>
        
    </header>

    

    
    

    <div class="content scroll">
    
<ul class="notificationList arrowLinkList">
    <li class="withSocialIcon">
        <a href="#">
            <span class="socialIcon socialIcon--linkedIn"></span>
            <p>James Chan has been promoted</p>
            <p class="note">11 Nov 2015</p>
        </a>
    </li>
    <li class="withSocialIcon">
        <a href="#">
            <span class="socialIcon socialIcon--facebook"></span>
            <p>Cynthia Wu just had a baby</p>
            <p class="note">8 Nov 2015</p>
        </a>
    </li>
    <li class="withSocialIcon">
        <a href="#">
            <span class="socialIcon socialIcon--facebook"></span>
            <p>Fiona Wu just added you. You have &hellip;</p>
            <p class="note">8 Nov 2015</p>
        </a>
    </li>
</ul>

    </div>
</section>