<section class="panelz blue normal ">
    

    <header class="row">
        <h2>Leads</h2>
        
        <button class="imageIcon imageIconForward"><span class="accessible"></span></button>
        
    </header>

    

    
    

    <div class="content scroll">
    
<ul class="notificationList arrowLinkList">
    <li class="withSocialIcon">
        <a href="#">
            <span class="socialIcon socialIcon--global"></span>
            <p>Jonathan Wu</p>
            <p class="note">18 Nov 2015</p>
        </a>
    </li>
    <li class="withSocialIcon">
        <a href="#">
            <span class="socialIcon socialIcon--phone"></span>
            <p>Freddy Wong</p>
            <p class="note">18 Nov 2015</p>
        </a>
    </li>
</ul>

    </div>
</section>