<section class="panelz blue normal ">
    

    <header class="row">
        <h2>Notification</h2>
        
        <button class="imageIcon imageIconForward"><span class="accessible"></span></button>
        
    </header>

    

    
<nav class="horizontalNav">
    <ul>
        
        <li class="item tab__listItem jsTabListItem" data-mytabkey="0" ng-class="{'is-active' : isActiveNotificationTab(0)}"><a href="#" ng-click="changeNotificationTab(0)">Customer</a></li>
        
        <li class="item tab__listItem jsTabListItem" data-mytabkey="1" ng-class="{'is-active' : isActiveNotificationTab(1)}"><a href="#" ng-click="changeNotificationTab(1)">Prospect</a></li>
        
        <li class="item tab__listItem jsTabListItem" data-mytabkey="2" ng-class="{'is-active' : isActiveNotificationTab(2)}"><a href="#" ng-click="changeNotificationTab(2)">Corporate</a></li>
        
    </ul>
</nav>


    <div class="content scroll scroll--withTabs">
    
<ul class="notificationList arrowLinkList">
    <li class="unread">
        <a href="#">
            <p>New App Update Available</p>
            <p class="note">Today</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>New ManuTouch App</p>
            <p class="note">Yesterday</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Alert! Manulife servers will be te&hellip;</p>
            <p class="note">Yesterday</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Retirement Campaign Launch</p>
            <p class="note">15 Nov 2015</p>
        </a>
    </li>
    <li class="unread">
        <a href="#">
            <p>James Chan's application 235392 approved!</p>
            <p class="note">12 Nov 2015</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Robert Chang premium payment missed</p>
            <p class="note">1 Nov 2015</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Manulife app released</p>
            <p class="note">1 Nov 2015</p>
        </a>
    </li>
    <!--<li>
        <a href="#">
            <p>Retirement Campaign Launch</p>
            <p class="note">13 Apr 2015</p>
        </a>
    </li>
    <li class="unread">
        <a href="#">
            <p>New App Update Available</p>
            <p class="note">Today</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>New ManuTouch App</p>
            <p class="note">Yesterday</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Alert! Manulife servers will be te&hellip;</p>
            <p class="note">Yesterday</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Retirement Campaign Launch</p>
            <p class="note">13 Apr 2015</p>
        </a>
    </li>-->
</ul>

    </div>
</section>