<section class="panelz blue normal ">
    

    <header class="row">
        <h2>Schedule</h2>
        
        <button class="imageIcon imageIconForward"><span class="accessible"></span></button>
        
    </header>

    

    
    

    <div class="content ">
    

    <div class="calendar--agent" style="background-image:url(../images/content/placeholder-calendar.jpg);">
    	<div class="content">
			<div class="month">November</div>
			<ul class="dates">
				<li class="today"><a href="#">22</a></li>
				<li><a href="#">23</a></li>
				<li><a href="#">24</a></li>
				<li><a href="#">25</a></li>
				<li><a href="#">26</a></li>
				<li><a href="#">27</a></li>
				<li><a href="#">28</a></li>
			</ul>
		</div>
    </div>

    <div class="calendarContent">
    <ul class="scheduleList arrowLinkList">
        <li class="past">
            <a href="#">
                <p class="eventTime"><span class="startTime">9:00AM</span><span class="duration">-</span><span class="endTime">10:30AM</span></p>
                <p>
                    Meeting with Kevin Chung
                    <span class="note">Appointment</span>
                </p>
            </a>
        </li>
        <li class="current">
            <a href="#">
                <p class="eventTime"><span class="startTime bold">3:30PM</span><span class="duration">-</span><span class="endTime">4:30PM</span></p>
                <p>
                    Collect document for Jeremy
                    <span class="note">Note</span>
                </p>
            </a>
        </li>
    </ul>
</div>

	<div class="panelFooter">
		<button class="button positiveButton">Add Entry</button>
	</div>



    </div>
</section>